mixin footer()
  footer.vel-footer
    .vel-footer__wrapper
      .container
        .vel-copyright.text-center
          | Copyright © 2018 by Velatheme. All right reserved.
  script(type='text/javascript' src='assets/js/vela.js')
