mixin footer()
  footer.vel-footer
    .vel-footer__wrapper
      .container
        .vel-copyright.text-center
          | Copyright © 2018 by Velatheme. All right reserved.
  .gototop
    a.js-gototop(href='javascript.void(0);', style='display: none;')
      +icon_angle_up
  script(type='text/javascript' src='assets/js/vela.js')
