extends pug/layout/master

block main-content
  .page-doc
    .container
      .row.justify-content-center
        .col-12.col-md-3
          -
            var menus = [
              { id:'sectionOne', title: 'Getting Started' },
              { id:'sectionTwo', title: 'Installation' },
              { id:'sectionThree', title: 'Customer Account' }
            ];
          +sidebar_menu(menus)

        .page-doc__content.col-12.col-md-9
          +section_documentation('sectionOne', 'Getting Started')
            p To install this theme you must create a Shopify account.
            p For information an overview of Shopify's platform and features please see the 
              a(href='https://help.shopify.com/' target='blank') Shopify Documentation
            p Shopify is a hosted ecommerce solution that allows you to set up and run your own online store. Pick an ecommerce website template (preferably from us!), list your products, accept credit card orders, and ship your goods — all with a few clicks of the mouse. With Shopify it's easy to sell online and there's no software to download or maintain.
            p You can start free trial with Shopify. Click the image below Start your free 14-day trial of Shopify
            +vela_img('images/velguide_image1.png', 'Velatheme')
          +section_documentation('sectionTwo', 'Installation')
            p Purchase our template from 
              a(href='https://themeforest.net/' target='blank') Themeforest.net
              | , you'll receice your theme as a 
              code .zip 
              | file named something like 
              code velatheme.v1.0.0_extract_first.zip
            blockquote.blockquote.vel-blockquote Note: Please unzip the file you just downloaded before installing
            p After you download the 
              code .zip 
              | package from Themeforest, upzip it. You'll see a folder
              b themes
              | . Please open folder, You'll see the theme packages. The filename is usually the theme name, for example: if the theme is VelathemeDemo1, then the file name is 
              code vealthemedemo1.zip
              | . But sometimes, the file names is different but not too much and you can guess the file name from the theme name.
            br
            hr
            h4 1. Login to your Shopify admin
            p From your Shopify admin, go to 
              b Online Store &gt; Themes.
            +vela_img('images/velguide_image2.gif', 'Velatheme')
            h4 2. Upload theme
            p In the 
              b More themes 
              | area, click 
              b Upload theme.
            p From the 
              b Upload theme 
              | window, click 
              b Choose File to 
              | select the .zip file that you've extract on above.
            p Click 
              b Upload. 
              | The theme will be added to the Themes page of your admin.
            +vela_img('images/velguide_image3.jpg', 'Velatheme')
            br
            br
            h4.text-uppercase Video installation tutorial
            .vel-video
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src='https://www.youtube.com/embed/7X7T8e3YLIw')
          +section_documentation('sectionThree', 'Customer Account')
            p If you want display 
              b Login 
              | and 
              b Register 
              | on Header, You need enable customer accounts
            p When you enable customer accounts, Shopify stores password-protected information about a customer's identity, order history, and current order status. Your customers' details, such as address information, will be pre-filled from the stored information during checkout.
            p You can make customer accounts required or optional, or disable them altogether. When creating an account, customers are redirected to a separate account creation page. Keep in mind that requiring customers to create accounts might decrease sales conversions.
            p To edit your customer account settings:
            p 1. From your Shopify admin, go to 
              b Settings &gt; Checkout.
            p 2. In the 
              b Customer accounts 
              | section, choose a customer account option:
            +vela_img('images/velguide_image4.png', 'Velatheme')
            ul
              li
                b Accounts are disabled 
                | Customers won't see the option to create an account or to log in during checkout. They'll have to manually enter their details at checkout, because fields won't be pre-filled.
              li
                b Accounts are optional 
                | Customers can choose to create an account, but it's not mandatory to create an account to check out. If customers do have an account and they're logged in, then their address fields are pre-filled when they place an order.
              li
                b Accounts are required 
                | Customers need to create an account, or have an account and be logged in to complete the checkout. This setting is useful if you're running a wholesale or members-only store, for example. Address fields are pre-filled when the customer places an order.
            p 3. Click 
              b Save 
              | to confirm your customer account settings.
