mixin head(data)
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='theme-color' content='#008dcf')
    meta(name='author' content='Velatheme')
    meta(name='copyright' content='Velatheme')
    link(rel='shortcut icon' href='images/favicon.png' type='image/png')
    title= data.title
    link(href='assets/css/vela-site.css' rel='stylesheet' type='text/css')
