.vel-header {
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px solid $vela-border-color;

  &__wrapper {
    padding: 10px 0;
  }
}

.vel-logo {
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  &__link {
    display: inline-block;
    max-width: 100%;
    height: 90px;

    &:hover {
      text-decoration: none;
    }
  }
}

.vel-main-menu {
  .nav-link {
    font-weight: 600;
    text-transform: uppercase;
  }
}
