$vela-color-primary:            #5e6ebf;
$vela-background-dark:          #30373b;
$vela-content-background:       #fff;

$vela-text-color:               #212121;
$vela-text-color-light:         #fff;

$vela-border-color:             #ebebeb;

$vela-footer-text-color:        #fff;
$vela-footer-background:        #010a37;

$nocolor: transparent;

$vela-font-family:      'Raleway';
$vela-font-size:        14px;

$vela-gutter-width:     30px;
