mixin header()
  header.vel-header
    .vel-header__wrapper
      .vel-header__content.d-flex.justify-content-between.align-items-center
        block logo
          h1.vel-logo
            a.vel-logo__link(href='/index.html')
              +img('https://place-hold.it/140x90', 'Logo')
              span.d-none Velatheme

        block main_menu
          include ../components/main_menu
